table {
  text-align: center;
}

.calendar-day {
  cursor: pointer;
  padding: 10px;
}

.calendar-day:hover:not(.free-day):not(.past-day) {
  background: #79a9b1;
  border-radius: 5px;
}


.past-day {
  color: #999999;
}

.free-day {
  color: red;
}

.selected-day {
  color: white;
  background: #17a2b8;
  border-radius: 5px;
  font-weight: bold;
}