<div class="text-center">

  <h1>{{year}} {{month}}</h1>

  <table class="table">
    <tr>
      <th>H</th>
      <th>K</th>
      <th>Sz</th>
      <th>Cs</th>
      <th>P</th>
      <th>Sz</th>
      <th>V</th>
    </tr>

    <tr *ngFor="let week of daysInMonth">
      <td *ngFor="let day of week; let dayOfWeek = index">
        <a *ngIf="day" [ngClass]="{ 'calendar-day': true, 'free-day': dayOfWeek > 4, 'past-day': day < currentDay, 'selected-day': day == selectedDay}" (click)="dayOfWeek > 4 || day < currentDay ||  onDaySelected(day)">{{day}}</a>
      </td>
    </tr>
  </table>

</div>